@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*  Typografy */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.h1{
    font-size: 26px;
    line-height: 38px;
}

.h2{
    font-size: 22px;
    line-height: 33px;
}

.h3{
    font-size: 16px;
    line-height: 24px
}

.h4{
    font-size: 13px;
    line-height: 20px;
}

.body{
    font-size: 15px;
    line-height: 25px;
    display: grid;
    place-items: center;
    height: 100vh;
    min-height: 740px;
    width: 100%;
    background-color: var(--background-color);
}

@media(max-width:415px){
    .body{
        height: 100vh;
    }
}

@media(width:434){
    .body{
        height: 100vh;
    }
}

@media (min-width:648px){
    .profile-photo2{
        display:none;
    }
    
}

@media (max-width:648px){
    .resultText{
        display:none;
    }

    .body{
        height: 100vh;
    }
    .profile-photo{
        display: none;
    }

    .profile-photo2{
        display: block;
    }

    .header{
        flex-direction: column;
    }
    .mainInformation{
        gap: 0px;
        justify-content:space-around ;
    }
}


@media(max-width:500px){
    .extraInformation{
        flex-direction: column;
        row-gap: 20px;
    }
}


@media(max-width:400px){
    .informationArea{
        padding: 20px;
    }
    .mainInformation{
        padding: 10px;
    }
    .primary-button{
        padding: 10px;
    }
    .button{
        margin: 2px 2px 2px 2px;
    }

    .searchArea > input{
        font-size: 15px;
    }
}

@media(min-width:400px){
    .informationArea{
        padding: 43px 48px 50px 48px;;
    }
    .mainInformation{
        padding: 15px 0px 17px 32px;
    }
    .primary-button{
        padding: 13px 23px 13px 23px;
    }
    .button{
        margin: 10px 10px 10px 0px;
    }
    .searchArea > input{
        font-size: 18px;;
    }
}

@media (min-width:648px){
    .mainInformation{
        gap: 90px;
    }
}


/*  Typografy */

/*Colors*/

.main-theme{
    --blue:#0079FF;
    --border-radius: 15px;
    --red:#F74646;
}

.light-theme{
    --dark-grey:#697C9A;
    --steel-blue:#4B6A9B;
    --gunmetal-blue:#2B3442;
    --alice-blue: #F6F8FF;
    --background-color:#F6F8FF;
    --white:#FEFEFE;
    --box-shadow-color: rgba(70, 96, 187, 0.1986);
    --box-shadow:0px 16px 30px -10px var(--box-shadow-color);
    
    --filter-color: invert(39%) sepia(92%) saturate(252%) hue-rotate(176deg) brightness(86%) contrast(94%);
    transition: 1s;

}

.dark-theme{
    --dark-mode-white:#FFFFFF;
    --background-color:#141D2F;
    --white: #1E2A47;
    --gunmetal-blue: #ffffff;
    --dark-grey:#FFFFFF;
    --steel-blue:#FFFFFF;
    --alice-blue:#141D2F;
    --box-shadow:none;
    --filter-color:invert(99%) sepia(5%) saturate(193%) hue-rotate(319deg) brightness(116%) contrast(100%);
    transition: 1s;
}

/*Colors*/


.container{
    display: flex;
    flex-direction: column;
    max-width: 730px;
    width: 95%;
    gap: 24px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.searchArea{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.searchArea > input {
    width: 50%;
    border:none;
    cursor: pointer;
    caret-color: var(--blue);
    text-overflow: ellipsis;
    background-color: var(--white);
}

.searchArea > input:focus {
    outline: none;
}

.searchArea > input::placeholder {
    color: var(--steel-blue);
}

.search-icon{
    margin: 22px 24px 22px 32px;
}


.informationArea{
    display: flex;
    gap: 30px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.mainInformation{
    display: flex;
    background-color: var(--alice-blue);
    border-radius: var(--border-radius);
}

.extraInformation{
    display: flex;
    justify-content: space-between;
}

.infoGroup{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoItems{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex{
    display: flex;
    gap: 10px;
    align-items:center;
}

.color-dark-grey{
    color: var(--dark-grey);
}

.color-blue{
    color: var(--blue);
}

.color-gunmetal-blue{
    color: var(--gunmetal-blue);
}

.color-steel-blue{
    color: var(--steel-blue);
}

.color-red{
    color: var(--red);
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size:30px;
}

.font-size-18{
    font-size: 18px;
}

.box-shadow{
    box-shadow: var(--box-shadow);
}

.button{
    color: #FEFEFE;
    display: flex;
    align-items: center;
}

.primary-button{
    background-color: var(--blue);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.primary-button:hover{
    background-color: #60ABFF;
}


.profile-photo{
    border-radius: 100%;
}

.profile-photo2{
    border-radius: 100%;
}


.theme-button{
    cursor: pointer;
}

.theme-button:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.link{
    color:var(--steel-blue);
    text-decoration: none;
    width: 200px; /* Harflerin sığacağı genişlik */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.filter{
    filter: var(--filter-color);
}