@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*  Typografy */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.h1{
    font-size: 26px;
    line-height: 38px;
}

.h2{
    font-size: 22px;
    line-height: 33px;
}

.h3{
    font-size: 16px;
    line-height: 24px
}

.h4{
    font-size: 13px;
    line-height: 20px;
}

.body{
    font-size: 15px;
    line-height: 25px;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--alice-blue);
}


/*  Typografy */

/*Colors*/

.light-theme{
    --blue:#0079FF;
    --dark-grey:#697C9A;
    --steel-blue:#4B6A9B;
    --gunmetal-blue:#2B3442;
    --alice-blue: #F6F8FF;
    --white:#FEFEFE;
    --box-shadow-color: rgba(70, 96, 187, 0.1986);
    --border-radius: 15px;
    --box-shadow:0px 16px 30px -10px var(--box-shadow-color);

}

.dark-theme{
    --dark-mode-white:#FFFFFF;
    --midnight-blue:#141D2F;
    --space-cadet: #1E2A47;
}

/*Colors*/


.container{
    display: flex;
    flex-direction: column;
    max-width: 730px;
    width: 100vw;
    gap: 24px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.searchArea{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.searchArea > input {
    width: 55%;
    border:none;
    cursor: pointer;
    caret-color: var(--blue);
    font-size: 24px;
}

.searchArea > input:focus {
    outline: none;
}

.search-icon{
    margin: 22px 24px 22px 32px;
}


.informationArea{
    display: flex;
    gap: 30px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 43px 48px 50px 48px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.mainInformation{
    display: flex;
    gap: 90px;
    background-color: var(--alice-blue);
    padding: 15px 0px 17px 32px;
}

.extraInformation{
    display: flex;
    justify-content: space-between;
}

.infoGroup{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infoItems{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex{
    display: flex;
    gap: 10px;
    align-items:center;
}

.color-dark-grey{
    color: var(--dark-grey);
}

.color-blue{
    color: var(--blue);
}

.color-gunmetal-blue{
    color: var(--gunmetal-blue);
}

.color-steel-blue{
    color: var(--steel-blue);
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size:30px;
}

.font-size-18{
    font-size: 18px;
}

.box-shadow{
    box-shadow: var(--box-shadow);
}

.button{
    color: var(--white);
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0px;
}

.primary-button{
    background-color: var(--blue);
    cursor: pointer;
    padding: 13px 23px 13px 23px;
    border-radius: var(--border-radius);
}


.profile-photo{
    border-radius: 100%;
}